[submodule "hustmeta/src/github.com/syndtr/goleveldb"]
	path = hustmeta/src/github.com/syndtr/goleveldb
	url = https://github.com/syndtr/goleveldb
[submodule "hustmeta/src/github.com/golang/snappy"]
	path = hustmeta/src/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "hustmeta/src/github.com/cihub/seelog"]
	path = hustmeta/src/github.com/cihub/seelog
	url = https://github.com/cihub/seelog
[submodule "hustmeta/src/github.com/fsnotify/fsnotify"]
	path = hustmeta/src/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
[submodule "hustmeta/src/github.com/robfig/cron"]
	path = hustmeta/src/github.com/robfig/cron
	url = https://github.com/robfig/cron
[submodule "hustmeta/src/golang.org/x/sys"]
	path = hustmeta/src/golang.org/x/sys
	url = https://github.com/golang/sys
