[submodule "hustmeta/src/github.com/syndtr/goleveldb"]
	path = hustmeta/src/github.com/syndtr/goleveldb
	url = https://github.com/syndtr/goleveldb
[submodule "hustmeta/src/github.com/golang/snappy"]
	path = hustmeta/src/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "hustmeta/src/github.com/cihub/seelog"]
	path = hustmeta/src/github.com/cihub/seelog
	url = https://github.com/cihub/seelog
